/* footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 10%;
}
footer h2 {
  font-size: 35rem;
}
footer a {
  font-size: 4rem;
  text-transform: uppercase;
} */
