.contenedor-footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

form {
  padding: 1% 0%;
}

input {
  font-size: 1.5rem;
  margin-right: 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 5px 7px;
}
input:hover{
  cursor: pointer;
}
input:hover::placeholder{
  color: white;
}
button {
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 5px 10px;
  background-color: white;
  color: black;
}
button:hover{
  cursor: pointer;
}
.contacto {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.footertext {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  padding-top: 2%;
  padding-bottom: 1%;
}

p{
  padding-bottom: 1rem;
}
/*media querie para 612 px de pantalla para poner footer con mejor formato*/
@media (max-width: 612px) {
  button{
    margin-top: 10px;
  }
}