<footer>
  <div class="contenedor-footer">
    <div class="contacto">
    <p class="footertext">Suscribite para recibir novedades!!</p>
    <span>{{ responseStatus }}</span>

      <form>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="EMAIL"
          required
          [(ngModel)]="usuarioRegister.email"
        />
        <input
          type="string"
          id="instagram"
          name="instagram"
          placeholder="INSTAGRAM"
          required
          [(ngModel)]="usuarioRegister.instagram"
        />
        <button (click)="register()"><span>ENVIAR</span></button>
      </form>
    </div>
    <p>
      SUJETO A SIN OBLIGACION DE COMPRA LEY DE LEALTAD COMERCIAL (LEY - 22.802)
    </p>
  </div>
</footer>
