<header>
  <!--<nav>
    <ul>
      <li routerLink="/home">Inicio</li> -->
  <!-- 
      <li>Testimonios</li>
  <li>Terminos y Condiciones</li>
    </ul>
  </nav>-->
  <h4>PUTATO REGALOS</h4>
  <div class="icons">
    <a
      href="https://www.facebook.com/people/Putato/61556892654335/?paipv=0&eav=AfZj8kX6wd0F1QfwmeKEjXnJjUURg7U1M1UpQKfC6gap0DTQokipsDAO2yr8Is_zGVI&_rdr"
      class="fa-brands fa-square-facebook"
      target="_blank"
    ></a>
    <a
      href="https://www.instagram.com/putatoregalos/"
      class="fa-brands fa-instagram"
      target="_blank"
    ></a>
    <a
      href="https://www.tiktok.com/@putatoputato"
      class="fa-brands fa-tiktok"
      target="_blank"
    ></a>
    <a
      href="https://www.youtube.com/@PutatoPutato"
      class="fa-brands fa-youtube"
      target="_blank"
    ></a>
  </div>
</header>
