header {
  padding: 0 10px;
  box-shadow: rgba(3, 25, 30, 0.2) 0px 8px 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  color: #03191e;
  background-color: #ffec24;
}
header h4 {
  font-size: 1.8rem;
}

/*mejorar el hover*/
.icons {
  font-size: 1.6rem;
  display: flex;
  align-self: stretch;
}

.icons a {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}
.icons a:hover {
  cursor: pointer;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5),
    0px -5px 10px rgba(255, 255, 255, 0.2);
}
.fa-instagram:before,
.fa-tiktok:before,
.fa-youtube:before {
  height: 1.6rem;
  width: 1.6rem;
}
@media (max-width: 869px) {
  .icons {
    font-size: 2rem;
  }
}
@media (max-width: 520px) {
  h4 {
    font-size: 3rem;
  }
}
@media (max-width: 430px) {
  h4 {
    font-size: 3rem;
    padding: 0;
  }
}
/* @media (max-width: 425px) {
  header {
    height: 60px;
  }
  .icons {
    padding: 0px;
  }
  h4 {
    font-size: 2rem;
    padding: 0px;
  }
}
@media (max-width: 430px) {
  h4 {
    font-size: 2rem;
    padding: 0px;
  }
  p {
    padding-bottom: 60px;
  }
} */
