<header>
    <nav>
        <ul>
            <li>Inicio</li>
            <li>Testimonios</li>
            <!-- <li>Terminos y Condiciones</li> -->
        </ul>
    </nav>
    <h3>PUTATO REGALOS</h3>
    <div class="icons">
        <a href="https://www.instagram.com/putatoregalos/" class="fa-brands fa-instagram"></a>
        <a href="https://www.tiktok.com/@putato0" class="fa-brands fa-tiktok"></a>
        <a href="https://www.youtube.com/@PutatoPutato" class="fa-brands fa-youtube"></a>
    </div>
</header>