header {
  padding: 1rem 2rem;
  padding-right: 1rem;
  border-bottom: 1px solid black;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffec24;
}
