<header>
  <nav>
    <ul>
      <li routerLink="/home">Inicio</li>
      <!-- <li>Testimonios</li> -->
      <!-- <li>Terminos y Condiciones</li> -->
    </ul>
  </nav>
  <h3>PUTATO REGALOS</h3>
  <div class="icons">
    <a
      href="https://www.instagram.com/putatoregalos/"
      class="fa-brands fa-instagram"
      target="_blank"
    ></a>
    <a
      href="https://www.tiktok.com/@putatoputato"
      class="fa-brands fa-tiktok"
      target="_blank"
    ></a>
    <a
      href="https://www.youtube.com/@PutatoPutato"
      class="fa-brands fa-youtube"
      target="_blank"
    ></a>
  </div>
</header>
