.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0%;
}
form {
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  padding: 2% 0%;
}

label {
  font-size: 16px;
  margin: 10px;
}
input {
  box-shadow: none;
  background-color: inherit;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: inherit;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  width: auto;
  text-align: left;
}
button:hover{
  color: #474747;
}
label{
  font-size: 18px;
}
.wrapper{
  width: 33%;
  padding: 1.5rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.eliminar:hover{
  color: rgb(254, 166, 166);
}
footer{
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 15px;
  color: white;
}
footer button:hover{
  text-decoration: underline;
}
.contenedor-footer{
  padding: 0 0 0 10%;
}
p{
  font-size: 14px;
  padding: 10px 0;
}
input::placeholder{
  color: #1a1a1a;
}
.buttonwrapper{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  align-items: flex-end;
}
.formcontainer{
  width: 90%;
}
.below{
  width: 100%;
  display: flex;
}

.btn-eliminar{
  background-color: red;
  color: #fff;
}