* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  height: 90vh;
}
input {
  box-shadow: none;
  background-color: inherit;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  margin-bottom: 5px;
}
h4 {
  margin-bottom: 5px;
}
button {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid black;
}
h3 {
  font-weight: 400;
  font-size: 2rem;
  text-align: start;
}
h4 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: start;
}
form {
  width: 300px;
}
form,
div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
#eliminarSorteo {
  background-color: red;
  color: black;
  width: auto;
}
