form {
  padding: 20px;
  width: 30%;
}

input {
  box-shadow: none;
  background-color: inherit;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
button {
  background-color: #313131;
  color: white;
}
.login {
  display: flex;
  justify-content: center;
  /* color: white; */
  /* background-color: #1a1a1a; */
}
