* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
}

.contadorreversa {
  margin: 0 auto;
  text-align: center;
  padding: 4rem;
  max-width: 430px;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
li span {
  display: block;
  font-size: 4.5rem;
}
ul {
  display: flex;
  justify-content: center;
}
