<main class="fadeIn">
  <section class="landing">
    <img src="../../../assets/img/TodoJunto.jpg" class="todoJunto" />
    <!-- <img [src]="foto1.urlImage" /> -->
    <img src="../../../assets/img/Iphone13.jpg" />
    <img src="../../../assets/img/Iphone15.jpg" />
  </section>

  <div class="chances">
    <div class="chance">
      <img src="../../../assets/img/1Chance.jpg" (click)="selectOne()" />
      <h3>$499</h3>
    </div>
    <div class="chance">
      <img src="../../../assets/img/3Chances.jpg" (click)="selectThree()" />
      <h3>$999</h3>
    </div>
    <div class="chance">
      <img src="../../../assets/img/10Chances.jpg" (click)="selectTen()" />
      <h3 id="importante">$2999</h3>
    </div>
  </div>
  <div class="contacto">
    <!-- <p>
      Cada centavo del sorteo ayudará a más personas a través de nuestros
      videos. Únete a esta noble causa
    </p> -->

    <form>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="email"
        required
        [(ngModel)]="usuarioRegister.email"
      />
      <input
        type="text"
        id="instagram"
        name="instagram"
        placeholder="instagram"
        required
        [(ngModel)]="usuarioRegister.instagram"
      />
      <button (click)="register()">Enviar</button>
    </form>
  </div>
</main>
