.landing {
  padding: 30px;
}
.landing img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  box-shadow: 1cap;
}
.landing p {
  text-align: center;
  font-size: 15px;
}
.landing img {
  width: 250px;
}
#todoJunto {
  width: 350px;
}
.bigger {
  font-size: 4.2rem;
}
.heroe {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile_picture {
  width: 30%;
  padding-bottom: 0px;
}
.chances {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  padding-bottom: 20px;
}

.chance {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chance img {
  width: 20rem;
  padding-bottom: 0px;
}

.chance img:hover {
  cursor: pointer;
}

.chance h3 {
  /* padding: 20px; */
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 4rem;
  color: black;
  padding-top: 0px;
}

.chance:hover {
  /* background-color: black; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  box-shadow: 1cap;
  /* border: 4px solid white; */
}
p {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 30px;
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
h1 {
  font-size: xx-large;
  text-align: center;
}
#importante {
  font-size: 4.4rem;
}
.texto-alias {
  padding-left: 6%;
  padding-right: 6%;
}

/* @media (max-width: 425px) {
  #todoJunto {
    width: 200px;
  }
  .landing {
    padding: 10px;
  }
  .noshow {
    display: none;
  }
  .chances {
    padding: 10px;
  }
  .chance img {
    width: 120px;
    padding: 0px;
  }
  .chance {
    padding: 0px;
  }
  .chance h3 {
    padding: 0px;
  }
  h3 {
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .icons {
    padding: 0px;
  }
  input {
    padding: 0px;
  }
  p {
    padding: 1%;
    font-size: 1.5rem;
    text-align: center;
  }
  form {
    display: flex;
  }
} */
@media (max-width: 837px) {
  .landing img {
    width: 210px;
  }
  .icons {
    font-size: 2.2rem;
  }
}

@media (max-width: 745px) {
  .landing img {
    width: 150px;
  }
}

@media (max-width: 640px) {
  .noshow {
    display: none;
  }
  .landing {
    padding: 10px;
  }
}

@media (max-width: 586px) {
  .chances {
    justify-content: center;
  }

  h4 {
    font-size: 3rem;
  }
}
@media (max-width: 507px) {
  .chance img {
    width: 18rem;
  }
  h4 {
    font-size: 3rem;
  }
}
@media (max-width: 460px) {
  .chance img {
    width: 17rem;
  }
  #todoJunto {
    width: 300px;
  }
  h4 {
    font-size: 3rem;
  }
}
@media (max-width: 432px) {
  .chance img {
    width: 16.5rem;
  }
}
/* @media (max-width: 423px) {
  .noshow {
    display: none;
  }
  .chance img {
    width: 16rem;
  }
}
@media (max-width: 429px) {
  #todoJunto {
    padding: 5%;
  }
  form {
    display: flex;
  }
  p {
    padding-bottom: 60px;
  }
} */
