<main>
    <section class="landing">
        <h1>
            EL MAYOR BIEN QUE PODEMOS HACER POR LOS DEMÁS NO ES SOLO COMPARTIR
            NUESTRAS RIQUEZAS, SINO MOSTRARLES SUS PROPIAS CAPACIDADES
        </h1>
    </section>
    <section class="compras">
        <!-- <div class="sorteo"> -->
        <div class="image">
            <img src="../../../assets/img/thai-nguyen-AtYWWis5ZDM-unsplash.jpg" alt="iphone image" />
        </div>
        <h3>IPHONE 15 PRO MAX</h3>
        <select id="chances" class="botonChances" name="chances" [(ngModel)]="usuarioRegister.chances">
            <option value="1">COMPRAR 1 CHANCE</option>
            <option value="5">COMPRAR 5 CHANCES</option>
            <option value="10">COMPRAR 10 CHANCES</option>
        </select>
        <!--Waves Container-->
        <div class="wave">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="transparent" stroke="#000" />
                </g>
            </svg>
        </div>
        <h2>Registrate</h2>
        <div class="contacto">
            <form id="info_de_contacto">
                <label>Correo electrónico (obligatorio)</label>
                <input type="email" id="email" name="email" [(ngModel)]="usuarioRegister.email" required/>
                <label>Instagram (obligatorio)</label>
                <input type="text" id="instagram" name="instagram" [(ngModel)]="usuarioRegister.instagram" required />
                <button id="footer-button" (click)="register()">ENVIAR</button>
                <div id="mensaje_de_respuesta">{{message}}</div>
            </form>
        </div>
    </section>
</main>