* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: default;
}

html {
  background-color: #ffec24;
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
}

.wave {
  width: 100vw;
}

.contacto {
  display: flex;
  justify-content: space-around;
  background-color: #ffec24;
  width: 40%;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 4px; */
}

.landing h2 {
  align-self: flex-start;
  padding-left: 7%;
  text-decoration: overline;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
}

.compras {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3% 0%;
  /* background-color: #202c39; */
}

.compras h3 {
  color: black;
  font-size: 4rem;
  font-weight: 400;
}

header {
  padding: 1rem 2rem;
  padding-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  /* flex-direction: column; */
}

ul {
  display: flex;
  /* flex-direction: column; */
}

li {
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-size: 1.4rem;
  width: 114px;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  word-spacing: 1rem;
  text-align: center;
  padding: 7%;
  line-height: 130%;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 1.4rem;
}

li:active {
  text-decoration: overline;
  display: flex;
  flex-wrap: wrap;
}

/*probar que esto funcione*/

.icons {
  display: flex;
  font-size: 1.8rem;
  align-self: stretch;
}

.icons a {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.fa-instagram:before,
.fa-tiktok:before,
.fa-youtube:before {
  height: 1.6rem;
  width: 1.6rem;
}

img {
  border-radius: 100%;
  width: 100%;
  padding: 10%;
}

.image {
  width: 35vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 10% 0%; */
}

input,
#chances,
button {
  border: 1px solid black;
  border-radius: 7px;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  padding: 4px;
  margin-bottom: 20px;
}

label {
  font-size: 1.6rem;
  padding: 4px 0px;
  margin-top: 20px;
}

button {
  background-color: #0d0c1d;
  color: #a2aebb;
  font-family: inherit;
  font-size: 2rem;
  width: 70%;
  padding: 0.3em;
  margin-top: 4%;
  align-self: center;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
  padding-top: 8%;
}

footer h2 {
  font-size: 38rem;
}

footer a {
  font-size: 4rem;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #a2aebb;
}

button:hover,
input:hover {
  cursor: pointer;
}

input {
  box-shadow: 1px 1px #a2aebb;
}

#mensaje_de_respuesta {
  font-size: 1.3rem;
}

.redes_sociales {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  width: 100%;
}

.redes_sociales a {
  font-size: 1.8rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@media (max-width: 85em) {
  footer h2 {
    font-size: 30rem;
  }
}

@media (max-width: 74em) {
  footer h2 {
    font-size: 25rem;
  }
}

@media (max-width: 61em) {
  footer h2 {
    font-size: 20rem;
  }
}

@media (max-width: 999px) {
  html {
    font-size: 47.5%;
  }
}

@media (max-width: 600px) {
  footer {
    height: auto;
  }

  footer h2 {
    font-size: 15rem;
  }

  .contacto {
    width: 70%;
  }
}

@media (max-width: 460px) {
  footer h2 {
    font-size: 10rem;
  }
}
